.productContainer{
    padding:32px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:10px;
}

.productItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 5px 20px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 5px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 20px -10px rgba(0,0,0,0.75);
}

.productHeader{
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productHeader img{
    width: 250px;
}

.productContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:20px 5px;
}

.button-order {
  background: #FF441F;
  border-radius: 999px;
  box-shadow: #FF441F 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}